PORT=3000
SESSION_SECRET=034674eb1e4ec69488b9f76daa6890ea58aacbc99b4a22e875a95f2e4fa9e0a5ade28a3d27570916a7d2afa7563cea6ce43c7bc4f840c1899b434fd00e0819fa
NODE_ENV=production

TWILIO_ACCOUNT_SID=ACxxxxxxxxxxxxxxxx
TWILIO_AUTH_TOKEN=xxxxxxxxxxxxxxxx
TWILIO_FROM_NUMBER=+1xxxxxxxxxx

SENDGRID_API_KEY=SG.xxxxxxxxxxxxxxxx
SENDGRID_FROM_EMAIL=alerts@yourdomain.com

SIEM_WEBHOOK_URL=https://your-siem.example.com/ingest
SECURITY_TEAM_EMAIL=security@yourdomain.com
